<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
        colors="false" convertErrorsToExceptions="true"
        convertNoticesToExceptions="true" convertWarningsToExceptions="true">
        <testsuites>
                <testsuite name="gallery for variation test">
                        <file>tests/phpunit/tests/test-gallery-for-variation.php</file>
                        <file>tests/phpunit/tests/test-Form.php</file>
                        <file>tests/phpunit/tests/test-GalleryStorage.php</file>
                </testsuite>
        </testsuites>
</phpunit>